SHELL=/bin/sh
MAILTO=noc@example.com

LAN1ID=1
#LAN2ID=2

# Stagger builds so if there is a code / IXP Manager issue, all route
# servers will no be taken out at the same time.
#m h              dom mon dow user command
10 08,10,12,14,16 *   *   1-5 root /usr/local/bin/ixpm-bird-configure.sh -v $LAN1ID -p 4 -q
15 08,10,12,14,16 *   *   1-5 root /usr/local/bin/ixpm-bird-configure.sh -v $LAN1ID -p 6 -q
10 09,11,13,15,17 *   *   1-5 root /usr/local/bin/ixpm-bird-configure.sh -v $LAN2ID -p 4 -q
15 09,11,13,15,17 *   *   1-5 root /usr/local/bin/ixpm-bird-configure.sh -v $LAN2ID -p 6 -q
